In [8]:
import requests
import pandas as pd

In [4]:
response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=c8b9a231b1fdb83075b4c9584a2333d8&language=en-US&page=1').json()

In [11]:
popularity = []
vote_count = []
original_language = []
title = []
vote_average = []
overview = []
release_date = []
for i in response['results']:
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    original_language.append(i['original_language'])
    title.append(i['title'])
    vote_average.append(i['vote_average'])
    overview.append(i['overview'])
    release_date.append(i['release_date'])
d = {'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}
df=pd.DataFrame(d)
df

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,en,2023-06-06,8356.398,1673,7.4
1,The Flash,When his attempt to save his family inadverten...,en,2023-06-13,5813.664,1340,6.9
2,Barbie,Barbie and Ken are having the time of their li...,en,2023-07-19,5675.527,560,7.8
3,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",en,2023-05-03,3321.652,3334,8.1
4,Warhorse One,A gunned down Navy SEAL Master Chief must guid...,en,2023-06-30,2917.929,27,6.6
5,Fast X,Over many missions and against impossible odds...,en,2023-05-17,2299.358,2848,7.3
6,Knights of the Zodiac,"When a headstrong street orphan, Seiya, in sea...",en,2023-04-27,1701.639,571,6.5
7,Sound of Freedom,"The story of Tim Ballard, a former US governme...",en,2023-07-03,1491.081,153,8.0
8,Bird Box Barcelona,After a mysterious force decimates the world’s...,es,2023-07-14,1364.535,230,6.0
9,Oppenheimer,The story of J. Robert Oppenheimer’s role in t...,en,2023-07-19,1482.665,307,8.3
10,Mavka: The Forest Song,Mavka — a Soul of the Forest and its Warden — ...,uk,2023-03-02,1645.739,85,7.5
11,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",en,2023-05-31,1208.539,2401,8.5
12,The Super Mario Bros. Movie,"While working underground to fix a water main,...",en,2023-04-05,1313.279,5755,7.8
13,Elemental,"In a city where fire, water, land and air resi...",en,2023-06-14,1298.448,553,7.6
14,John Wick: Chapter 4,"With the price on his head ever increasing, Jo...",en,2023-03-22,1265.947,3810,7.9
15,The Out-Laws,A straight-laced bank manager is about to marr...,en,2023-07-07,1261.271,293,6.3
16,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...,en,2018-01-03,975.191,2550,6.3
17,San Andreas,In the aftermath of a massive earthquake in Ca...,en,2015-05-27,1089.620,7840,6.2
18,The Darkest Minds,After a disease kills 98% of America's childre...,en,2018-07-25,1146.121,2509,7.0
19,The Little Mermaid,"The youngest of King Triton’s daughters, and t...",en,2023-05-18,851.240,904,6.3

In [14]:
popularity = []
vote_count = []
original_language = []
title = []
vote_average = []
overview = []
release_date = []
for j in range(1, 501):
    response=requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key=c8b9a231b1fdb83075b4c9584a2333d8&language=en-US&page={j}').json()
    for i in response['results']:
        popularity.append(i.get('popularity'))
        vote_count.append(i.get('vote_count'))
        original_language.append(i.get('original_language'))
        title.append(i['title'])
        vote_average.append(i.get('vote_average'))
        overview.append(i.get('overview'))
        release_date.append(i.get('release_date'))
d = {'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}
df = pd.DataFrame(d)

In [15]:
df

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,en,2023-06-06,8356.398,1673,7.4
1,The Flash,When his attempt to save his family inadverten...,en,2023-06-13,5813.664,1340,6.9
2,Barbie,Barbie and Ken are having the time of their li...,en,2023-07-19,5675.527,560,7.8
3,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",en,2023-05-03,3321.652,3334,8.1
4,Warhorse One,A gunned down Navy SEAL Master Chief must guid...,en,2023-06-30,2917.929,27,6.6
...,...,...,...,...,...,...,...
9995,Swallowtail Butterfly,An industrial section of Japan got the name of...,ja,1996-09-14,9.635,65,7.4
9996,Brick,A teenage loner pushes his way into the underw...,en,2006-03-31,11.187,1083,6.8
9997,Space Cowboys,"Frank Corvin, ‘Hawk’ Hawkins, Jerry O'Neill an...",en,2000-08-04,11.936,1207,6.4
9998,Double World,"Keen to bring honor to his clan, young village...",zh,2020-07-21,11.701,201,6.7
9999,Across 110th Street,"In a daring robbery, some $300,000 is taken fr...",en,1972-12-19,8.135,90,6.8

In [16]:
df.to_csv('Popular movies dataset')